body{
    font-family: 'Nunito', sans-serif;
}
.divCover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divCover img{
    width: 70%;
}
a{
    text-decoration: none !important;
}
#userFullNameError, #userSurnameError, #userQualificationError, #userLocationError, #userEmailError, #userPasswordError1, #userPasswordError2, #userSIEmailError, #userSIPasswordError, #userBioError, #editProfileForm{
    display: none;
}

#userAvatar{
    width: 120px;
    height: 120px;
}
.editProfileForm {
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.navbarul {
    width:100%;
    height: auto;
    align-items: center;
}

.profilePic {
    float: right;
    top:0;
    width:65px;
    height:65px;
    border-style: solid;
    border-radius: 100px;
    background-attachment: fixed;
}
.profilePic:hover {
    cursor: pointer;
}
.profilePicli {
    float:right;
    width:100%
}
.toastself {
    position:absolute;
    margin: 5px;
    bottom:0;
    right:0;
    z-index: 1;
}

